@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Surt Regular";
  font-style: normal;
  font-weight: 400;

  src: local("Surt Regular"), local("Surt-Regular"),
    /* IE6-IE8 */ url("../../public/fonts/Surt-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Surt Bold";
  font-style: normal;
  font-weight: 900;

  src: local("Surt Bold"), local("Surt-Bold"),
    /* IE6-IE8 */ url("../../public/fonts/Surt-Bold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-surt-regular: "Surt Regular", sans-serif;
  --font-surt-bold: "Surt Bold", sans-serif;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  max-width: 800px;
  margin: 0;
  background: white;
  font-family: var(--font-surt-regular);
  overflow-y: hidden;
}

body {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}
